.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.auth-form {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.auth-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2563eb;
  color: white;
  padding: 15px 30px;
}

.profile {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  width: 220px;
  background: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  z-index: 100;
}

.dropdown button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: red;
  color: white;
  cursor: pointer;
}

.search-section {
  padding: 20px;
}

.search-section input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.user-list {
  width: 90%;
  margin: 20px auto;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  margin-bottom: 10px;

  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.follow-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.follow-btn:hover {
  opacity: .9;
}