:root {
  --text: #333;
  --bg: #f4f6f8;
  --border: #ddd;

  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background: var(--bg);
}

#root {
  width: 100%;
  min-height: 100vh;
}